<!DOCTYPE html>
<html>
<head>
  <title>Sekher</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<div id="templatemo_header_wrapper">
	<div id="templatemo_header">
    
    	<div id="site_title">
           <!-- logo -->
           <%= render :partial => "registrations/mylogo" %>
      	</div> <!-- end of site_title -->
        
        <div id="templatemo_menu">
            <!-- menu -->
            <%= render :partial => "registrations/menu" %>
        </div> <!-- end of templatemo_menu -->
    
    </div>
</div> <!-- end of templatemo_header -->

<div id="templatemo_middle_wrapper">
	<div id="templatemo_middle">
    	
        <div id="templatemo_content">
        
            <div class="content_box_wrapper">
                <div class="content_box">
                
                <div id="featuredslideshow">
                  <ul> 
                    <li><a href="http://www.templatemo.com/page/1" target="_parent">
                    	<img width="640" height="300" alt="Nullam ante diam, interdum sit amet sodales nec, mollis lobortis sapien." src="<%= image_path '01.jpg' %>" /></a></li> 
                    <li><a href="http://www.templatemo.com/page/2" target="_parent">
                    	<img width="640" height="300" alt="Vestibulum posuere auctor orci et accumsan. Aliquam pellentesque dui eleifend velit eleifend et viverra nisi feugiat." src="<%= image_path '02.jpg' %>" /></a></li> 
                    <li><a href="http://www.templatemo.com/page/3" target="_parent">
                    	<img width="640" height="300" alt="Fusce ut libero eget quam viverra facilisis id non risus." src="<%= image_path '03.jpg' %>" /></a></li> 
                    <li><a href="http://www.templatemo.com/page/4" target="_parent">
                    	<img width="640" height="300" alt="Nullam ante diam, interdum sit amet sodales nec, mollis lobortis sapien." src="<%= image_path '04.jpg' %>" /></a></li> 
                    <li><a href="http://www.templatemo.com/page/5" target="_parent">
                    	<img width="640" height="300" alt="Mauris pulvinar purus porta justo cursus eget ultricies lectus luctus." src="<%= image_path '05.jpg' %>" /></a></li> 
                    <!-- eccetera --> 
                </ul> 
                </div>
     			<script type="text/javascript">
					 $("div#featuredslideshow").slideViewerPro({ 
					thumbs: 4,  
					thumbsPercentReduction: 15, 
					galBorderWidth: 1, 
					galBorderColor: "#CCCCCC", 
					thumbsTopMargin: 10, 
					thumbsRightMargin: 10, 
					thumbsBorderWidth: 2, 
					thumbsActiveBorderColor: "#993399", 
					thumbsActiveBorderOpacity: 1, 
					thumbsBorderOpacity: 1, 
					buttonsTextColor: "#333333", 
				
					autoslide: true,  
					typo: true 
					});  	
				</script>
 				<!--	leftButtonInner: "<img src='<%= image_path 'larw.gif' %>' alt='left' />", 
					rightButtonInner: "<img src='<%= image_path 'rarw.gif' %>' alt='right' />", 	-->
                
                </div>
            </div>
            
            <div class="content_box_wrapper">
            	<div class="content_box">
                
                	<div class="post_section">
                        <p class="notice"><%= notice %></p>
                        <p class="alert"><%= alert %></p>
            			<%= yield %>                                   
                    </div>
                
                </div> <!-- end of content_box -->
            </div> <!-- end of content_box_wrapper -->
            
            <div class="content_box_wrapper">
            	<div class="content_box">
                
                	<div class="post_section">
            
                        <h2><a href="blog_post.html">Aenean scelerisque tellus vitae</a></h2>
        
                      <div class="post_meta"><strong>Date:</strong> November 26, 2048| <strong>Author:</strong> <a href="#">Steven</a> | <a href="fullpost">256 comments</a></div>
                        
                    <a href="http://www.templatemo.com" target="_parent"><img src="<%= image_path 'templatemo_image_02.jpg' %>" alt="css template" /></a>
                        
                        <p>Cras id tortor nisl. Nullam ante diam, interdum sit amet sodales nec, mollis lobortis sapien. Vestibulum pharetra tortor vitae velit pretium rhoncus. Donec et purus velit, eget euismod risus. Integer consectetur enim eget diam tincidunt vehicula. Aenean scelerisque tellus vitae tortor placerat egestas. Ut volutpat erat nec <a href="#">mauris vestibulum</a> sit amet pharetra urna faucibus. Ut magna orci, varius eget ullamcorper ac, sodales id leo. In hac habitasse platea dictumst. Fusce venenatis consequat lacinia. Vivamus elit erat, tincidunt eget scelerisque vitae.</p>
                            
                      <div class="cleaner_h20"></div>
                        <div class="category"><strong>Category: </strong><a href="#">Freebies</a>, <a href="#">Templates</a></div> <div class="btn_more float_r"><a href="blog_post.html">Read more</a></div>
                        <div class="cleaner"></div>
            
                    </div>
                
                </div> <!-- end of content_box -->
            </div> <!-- end of content_box_wrapper -->
        
        </div> <!-- end of templatemo_content -->
            
		<div id="templatmeo_sidebar">
        
        	<div class="content_box_wrapper">
                <div class="content_box">
                
                    <ul class="ads_125">
                    	<li><a href="http://www.templatemo.com/page/1" target="_parent"><img src="<%= image_path 'templatemo_ads.jpg' %>" alt="CSS Templates" /></a></li>
                        <li class="odd"><a href="#"><img src="<%= image_path 'templatemo_ads.jpg' %>" alt="banner" /></a></li>
                        <li class="last_row"><a href="#"><img src="<%= image_path 'templatemo_ads.jpg' %>" alt="banner" /></a></li>
                        <li class="odd last_row"><a href="#"><img src="<%= image_path 'templatemo_ads.jpg' %>" alt="banner" /></a></li>                     </ul>
                	<div class="cleaner"></div>
                </div>
            </div>
            
            <div class="content_box_wrapper">
                <div class="content_box">
            
                    <h4>Categories</h4>
                    <ul class="tmo_list">
                        <li><a href="/faculty">Faculty</a></li>
                        <li><a href="index.html">Praesent adipiscing</a></li>
                        <li><a href="index.html">Duis sed justo</a></li>
                        <li><a href="index.html">Mauris vulputate</a></li>
                        <li><a href="index.html">Nam auctor</a></li>
                        <li><a href="index.html">Aliquam quam</a></li>
                    </ul>
				</div>
			</div>
            
            <div class="content_box_wrapper">
                <div class="content_box">
            
                    <h4>Recent comments</h4>
                    <div class="recent_comment_box">
                        <%= ApplicationHelper.my_time %>
                        <br/>
                        <%= ApplicationHelper.my_date %>
                        <br/>
                        <%= ApplicationHelper::My_project_name %>
                    </div>
                    
                    <div class="recent_comment_box">
                        <a href="#">Aenean feugiat mattis </a>
                        <p>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
                    </div>
                    
                    <div class="recent_comment_box">
                        <a href="#"> Lacus enim id lacinia in</a>
                        <p>Curabitur ullamcorper ultricies nisi.  Nam eget dui.   Etiam rhoncus.</p>
                    </div>
        		</div>
			</div>
            
        </div>
        
        <div class="cleaner"></div>    
    </div> <!-- end of templatemo_content -->
    
    <div id="templatemo_footer">
    
        <div class="col_w210">
            <h4>Follow Us</h4>
            <p>Cras a volutpat lacus. Ut nisi metus, lobortis vel egestas at, condimentum.<a href="aboutus.html"></a></p>
            
            <ul id="social_box">
                <li><a href="#"><img src="<%= image_path 'facebook.png" alt="facebook" /></a></li>
                <li><a href="#"><img src="<%= image_path 'twitter.png" alt="twitter" /></a></li>
                <li><a href="#"><img src="<%= image_path 'linkedin.png" alt="linkin" /></a></li>
                <li><a href="#"><img src="<%= image_path 'technorati.png" alt="technorati" /></a></li>
                <li><a href="#"><img src="<%= image_path 'myspace.png" alt="myspace" /></a></li>                
            </ul>
            
        </div>
        
        <div class="col_w210">
            <h4>Our Pages</h4>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="blog_post.html">Blog</a></li>
                <li><a href="gallery.html">Gallery</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html" class="last">Contact</a></li>
            </ul>  
 
        </div>
        
        <div class="col_w210">
            <h4>Partners</h4>
            <ul>
                <li><a href="http://www.flashmo.com">Flash Templates</a></li>
                <li><a href="http://www.templatemo.com/page/1">Free CSS Template</a></li>
                <li><a href="http://www.koflash.com">Websites Gallery</a></li>
                <li><a href="http://www.flashmo.com/store">Premium Themes</a></li>
            </ul>    
 
        </div>
        
        <div class="col_w210 col_last">
            <h4>Links</h4>
            <ul>
                <li><a href="#">Quisque sed mauris</a></li>
                <li><a href="#">Aliquam quis mi</a></li>
                <li><a href="#">Vestibulum posuere</a></li>
                <li><a href="#">Consectetur adipiscing</a></li>
            </ul>    
 
        </div>
        
        
        <div class="cleaner"></div>
    </div> <!-- end of footer -->
    
    <div id="templatemo_copyright">
        Copyright © 2048 <a href="#">Your Company Name</a> | <a href="http://www.iwebsitetemplate.com" target="_parent">Website Templates</a> by <a href="http://www.templatemo.com" target="_parent">Free CSS Templates</a>
    </div>
    
</div> <!-- end of templatemo_content_wrapper -->

<div align=center>This template  downloaded form <a href='http://all-free-download.com/free-website-templates/'>free website templates</a></div></body>
</html>
